<STYLE TYPE="TEXT/CSS">
<!--

.norm { font-family: Tahoma, Helvetica, sans-serif; font-size: 11px; font-style: normal; }
.medium { font-family: Tahoma, Helvetica, sans-serif; font-size: 10px; font-style: normal; }
.small { font-family: Tahoma, Helvetica, sans-serif; font-size: 10px; font-style: normal; }
.title { font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight: bold; }

a:hover { color: #FF0000; }

body { scrollbar-face-color: #660000; scrollbar-shadow-color: #330000; scrollbar-highlight-color: #cc0000; scrollbar-3dlight-color: #999999; scrollbar-darkshadow-color: #333333; scrollbar-track-color: #eeeeee; scrollbar-arrow-color: #cc0000; }

-->
</STYLE>
